<div class="container">
<div class="col-md-6">
<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @room.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @room.description %>
</p>

<p>
  <strong>Price:</strong>
  <%= @room.price %>
</p>

<p>
  <strong>Rules:</strong>
  <%= @room.rules %>
</p>

<p>
  <strong>Minimum days:</strong>
  <%= @room.minimum_days %>
</p>

<p>
  <strong>Address:</strong>
  <%= @room.address %>
</p>

<p>
  <strong>Latitude:</strong><span id='latitude'><%= @room.latitude %></span>
</p>

<p>
  <strong>Longitude:</strong><span id='longitude'><%= @room.longitude %></span>
</p>

<div id="form">
<%= render './bookings/form' %>
</div>
<br>
<%= link_to 'new ammenity' , new_room_amenity_path(@room) %>|
<%= link_to 'Edit', edit_room_path(@room) %> |
<%= link_to 'Back', rooms_path %>

<% if @room.amenities != nil %> 
  <% @room.amenities.each do |amenity| %>
  <span><%= amenity.name %></span>
  <p><%= amenity.description %></p>
  <% end %>
<% end %>

</div>

<div class="col-md-6" id="map">
</div>

</div>
 <script>
  var dates = [];
    $( function() {
    var dateFormat = "mm/dd/yy",
      from = $( "#from" )
        .datepicker({
          minDate: 0,
          dateFormat: "yy-mm-dd",
          defaultDate: "+1w",
          changeMonth: true,
          numberOfMonths: 2,
          beforeShowDay: function(date){
            if($.inArray($.datepicker.formatDate('yy-mm-dd',date),dates) > -1){
              return [false,"","booked"];
            }
            return [true,"","available"];
          }
        })
        ,
      to = $( "#to" ).datepicker({
        minDate: 0,
        dateFormat: "yy-mm-dd",
        defaultDate: "+1w",
        changeMonth: true,
        numberOfMonths: 2,
        beforeShowDay: function(date){
            if($.inArray($.datepicker.formatDate('yy-mm-dd',date),dates) > -1){
              return [false,"","booked"];
            }
            return [true,"","available"];
          }
      }
   )
    });

  $(document).ready(function(){
    $.get("/rooms/check_bookings?room_id=<%= @room.id %>",function(result){
      result.forEach(function(obj){
        var sd = new Date(obj["booking"].start_date);
        var ed = new Date(obj["booking"].end_date);
        while(sd <= ed){
          var date = "";
          date += sd.getFullYear();
          date += "-";
          if(sd.getMonth() < 10){ 
            date += "0";  
            date += (sd.getMonth() + 1);
            date += "-";
          }
          else{
          date += (sd.getMonth() + 1);
          date += "-";
        }
        if(sd.getDate() < 10){
          date += "0";
          date += sd.getDate();
        }
        else{
          date += sd.getDate();
        }
          dates.push(date);
          sd = new Date(sd.getTime() + 1000*60*60*24);
        }  
      })
    });
    var i = document.createElement("iframe");
        i.width = "600";
        i.height = "450";
        i.frameborder="0";
        i.style = "border:0";
        i.src = "https://www.google.com/maps/embed/v1/place?key=AIzaSyCpQuBa3ss1V-pAiHv6YmhlxBiEixgqPPE&q=" + $("latitude").innerHTML + "," + $("longitude").innerHTML;
        i.allowfullscreen = true;
        $("#map")[0].appendChild(i);
  });
  </script>