<h3>Add review</h3>
<% @review = Review.new %>
<%= form_for @review,remote: true do |f| %>

  <div class="display" >
    <%= f.label :food %>(<span id="showFood" class="glyphicon glyphicon-star"></span>)<br>
    <%= f.hidden_field :food, id: 'food' %>
    <div class="slider" id="first"></div>
  </div>


  <div class="display">
  <%= f.label :safety %>(<span id="showSafety" class="glyphicon glyphicon-star"></span>)<br>
  <%= f.hidden_field :safety, id: 'safety' %>
    <div class="slider" id="second"></div>
  </div>

  <div class="display">
  <%= f.label :cleanliness %>(<span id="showCleanliness" class="glyphicon glyphicon-star"></span>)<br>
  <%= f.hidden_field :cleanliness, id: 'cleanliness' %>
    <div class="slider" id="second"></div>
  </div>

  <div class="display">
  <%= f.label :facility %>(<span id="showFacility" class="glyphicon glyphicon-star"></span>)<br>
  <%= f.hidden_field :facility ,id: 'facility' %>
    <div class="slider" id="second"></div>
  </div>

  <div class="display">
  <%= f.label :locality %>(<span id="showLocality" class="glyphicon glyphicon-star"></span>)<br>
  <%= f.hidden_field :locality, id: 'locality' %>
    <div class="slider" id="second"></div>
  </div>

  <%= f.submit "Add review"%>
<% end %>
 
<script>

  $( function() {
    $('div[class="slider"]').each(function(){
      $(this).slider({
        range: "max",
        min: 1.0,
        max: 5.0,
        step: 0.1,
        value: 1.0,
        slide: function( event, ui ) {
        $( "#food" ).val( ui.value );
        $('#showFood').text(ui.value);
        }
      });

    });

  });

  </script>
